

.azeret-mono-font{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  /* header section */
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 150px;
  }
  .nav-title{
    font-weight: 800;
    font-size: 28px;
  }
  .asad{
    color: blueviolet;
  }
.nav-btn{
    font-weight: 600;
    font-size: 20px;
    padding: 17px 24px;
    background-color: rgba(255, 254, 254, 0.25);
    border-radius: 8px;
}
/* Banner section */
main{
    margin: 0 auto;
}
.banner-section{
    background: url("../assets/Hero-bg.png");
    padding: 25px 45px;
    margin-bottom: 70px;
    
}
.banner-elemnts{
    max-width: 998px;
    text-align: center;
    margin: 0 auto;
}
.contact-btn{
    color: #FFFFFF;
    background-color: #0D1321;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 24px;
    border-radius: 8px;
}
/* development section */
.development-section{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 150px;
    background-color:rgba(13, 19, 33, 0.02);
    border: 1px solid rgb(29, 27, 27);
    border-radius: 16px;
    justify-content: center;
    
}
.development-title-description{
    text-align: center;
    margin: 0 auto;
    max-width: 960px;
}
.development-reason{
    margin-top: 48px;
}
.development-reason-one{
    display: flex;
}
.development-reason-two{
    display: flex;
}
.development-reason-three{
    display: flex;
}
/* inspiration section */
.inspiration{
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0 220px;
    justify-content: center;
}
.inspiration-title-description{
    margin-bottom: 50px;
}
.video{
    border: 0.5px solid black;
    padding: 30px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 100px;

}
