

.azeret-mono-font{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  /* shared style */
  .flex{
    display: flex;
  }
  /* header section */
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 150px;
  }
  .nav-title{
    font-weight: 800;
    font-size: 28px;
  }
  .asad{
    color: blueviolet;
  }
.nav-btn{
    font-weight: 600;
    font-size: 20px;
    padding: 17px 24px;
    background-color: rgba(255, 254, 254, 0.25);
    border-radius: 8px;
}
/* Banner section */
main{
    margin: 0 auto;
}
.banner-section{
    background: url("../assets/Hero-bg.png");
    padding: 25px 45px;
    margin-bottom: 70px;
    
}
.banner-elemnts{
    max-width: 998px;
    text-align: center;
    margin: 0 auto;
}
.contact-btn{
    color: #FFFFFF;
    background-color: #0D1321;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 24px;
    border-radius: 8px;
}
/* development section */
.development-section{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 150px;
    background-color:rgba(13, 19, 33, 0.02);
    border: 1px solid rgb(29, 27, 27);
    border-radius: 16px;
    justify-content: center;
    
}
.development-title-description{
    text-align: center;
    margin: 0 auto;
    max-width: 960px;
}
.development-reason{
    margin-top: 48px;
}
.development-reason-one{
    display: flex;
}
.development-reason-two{
    display: flex;
}
.development-reason-three{
    display: flex;
}
/* inspiration section */
.inspiration{
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0 220px;
    justify-content: center;
}
.inspiration-title-description{
    margin-bottom: 50px;
}
.video{
    border: 0.5px solid black;
    padding: 30px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 100px;

}
/* current target section */
.target{
    max-width: 1400px;
    margin: 0 auto;
}
.target-title-description{
    text-align: center;
    margin: 0 95px 48px 95px;
}
.target-container{
    display: flex;
    gap: 24px;
}
.t-one{
    background-color: rgba(255, 76, 30, 0.05);
    border-style: none;
    padding: 40px;
    border-radius: 16px;
}
.t-two{
    background-color: rgba(0, 76, 232, 0.05);
    border-style: none;
    padding: 40px;
    border-radius: 16px;
}
.t-three{
    background-color: rgba(255, 223, 0, 0.05);
    border-style: none;
    padding: 40px;
    border-radius: 16px;
}
/* Next Target section */
.next-target-container{
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 110px;
}
.next-target-title-description{
    text-align: center;
    margin-bottom: 50px;
    padding: 0 80px;
}
.next-target-style{
    padding: 40px;
    gap: 24px;
    border: 0.5px solid rgb(164, 151, 151);
    border-radius: 16px;
    margin-bottom: 30px;
    align-items: center;
}
/* support section */
.support-container {
    position: relative;
    width: 90%;
    max-width: 1440px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
}
.support-container img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.overlay h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.overlay p {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 60px;
    width: 500px;
}

.input-box {
    display: flex;
    gap: 10px; /* Input ও Button-এর মাঝে gap */
}
.input-box input {
    flex: 1;
    padding: 17px 20px;
    border-radius: 16px;
    width: 548px;
}
.input-box button {
    padding: 17px 20px;
    background: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    border-radius: 16px;
}


.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 220px;
}
#footer a img{
    margin-left: 20px;
}
